<a href="https://colab.research.google.com/github/lrodrigocareaga/thesis/blob/master/apiMaps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from io import BytesIO
from PIL import Image
from urllib import request
import matplotlib.pyplot as plt # this is if you want to plot the map using pyplot
import pandas as pd
import requests
import os
from google.colab import drive

drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/mosquito')

# Enter your api key here 
api_key = ###API###

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('result.csv')
df['LATLONG'] = df['LATITUDE'].round(6).apply(str) + ',' + df['LONGITUDE'].round(6).apply(str)
df.head()
listaCoor = list(df.LATLONG.unique())

   Unnamed: 0   LATITUDE  ...  cloudCover               LATLONG
0           0  38.921453  ...        0.15   38.921453,-77.01448
1           1  38.914005  ...        0.16  38.914005,-77.057311
2           2  38.938009  ...        0.74  38.938009,-76.958136
3           3  38.873100  ...        0.75    38.8731,-76.972813
4           4  38.921453  ...        0.03   38.921453,-77.01448

[5 rows x 22 columns]

In [0]:
def getImages(listaCoor,api_key,folderPath):
  for row in listaCoor:
    url = "https://maps.googleapis.com/maps/api/staticmap?center={}&zoom=15&size=400x400&maptype=satellite&key={}".format(row,api_key)
    response = requests.get(url)
    img = Image.open(BytesIO(response.content))
    os.chdir(folderPath)
    img.save('{}.png'.format(row))
  return

In [0]:
folderPath = '/content/drive/My Drive/mosquito/imagesWashington'
getImages(listaCoor,api_key,folderPath)

### Prueba

In [0]:
url = "https://maps.googleapis.com/maps/api/staticmap?center=28.53183,-82.469466&zoom=15&size=600x600&maptype=satellite&key="
response = requests.get(url)
img3 = Image.open(BytesIO(response.content))
os.chdir('/content/drive/My Drive/mosquito/imagesPrueba')
img.save('28.53183,-82.469466.png')